<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
{% block styles %}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title displayed in web browsers tab -->
<title>Marcus Francis TIPLER</title>


<div class="mft-full-site">
    <div class="mft-header-container">
        {% block header %}
            <div class="mft-header-contents">
                <div class="mft-header-left">
                    <img id="mft-logo" class="mft-logo" src="{{ url_for('static', filename='images/logo-inverted.png') }}" alt="MFT"/>
                </div>
                <div class="mft-header-right">
                    <a href="{{ url_for('indexPage') }}" class="mft-header-button">Home</a>
                </div>
            </div>
        {% endblock %}
    </div>
    <div class="mft-content-container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="mft-footer-container">
        {% block footer %}
        <div class="mft-footer">
            <div class="mft-footer-top">
                <div class="mft-footer-table">
                    <table>
                        <tr><th>Home</th></tr>
                        <tr><td>About</td></tr>
                        <tr><td>Timeline</td></tr>
                        <tr><td>Skills</td></tr>
                        <tr><td>Resume</td></tr>
                        <tr><td>Projects</td></tr>
                    </table>
                </div>
                <div class="mft-footer-table">
                    <table>
                        <tr><th>Portfolio</th></tr>
                        <tr><td>Web</td></tr>
                        <tr><td>Mobile</td></tr>
                        <tr><td>Desktop</td></tr>
                        <tr><td>Open Source</td></tr>
                        <tr><td>Personal</td></tr>
                    </table>
                </div>
                <div class="mft-footer-table">
                    <table>
                        <tr><th>Occupation</th></tr>
                        <tr><td>Charity</td></tr>
                        <tr><td>Blog</td></tr>
                        <tr><td>Socials</td></tr>
                        <tr><td>Certificates</td></tr>
                        <tr><td>Runtime-Labs</td></tr>
                    </table>
                </div>
            </div>
            <div class="mft-footer-bottom">
                <div class="mft-footer-left">
                    <h4>&copy; 2024-present Marcus Francis TIPLER. All rights reserved.</h4>
                </div>
                <div class="mft-footer-middle">
                    <div class="mft-license">
                        <span>MIT License</span>
                        <img src="{{ url_for('static', filename='images/license.png') }}" alt="MIT License" class="mft-license-img"/>
                        <p>By accessing and using this website, you acknowledge that all content, information, and materials available here are licensed under the terms of the <a href="https://github.com/Marcus-Tipler/marcus-tipler-blog/blob/main/LICENSE">MIT License<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a>. All content is publicly available on <a href="https://github.com/Marcus-Tipler/marcus-tipler-blog">GitHub<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a>.</p>
                    </div>
                </div>
                <div class="mft-footer-right">
                    <a href="https://twitter.com/" target="_blank" aria-label="Twitter" class="mft-social-icon">
                        <!-- Twitter SVG -->
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M22.46 5.924c-.793.352-1.646.59-2.542.698a4.48 4.48 0 0 0 1.963-2.475 8.94 8.94 0 0 1-2.828 1.082 4.48 4.48 0 0 0-7.64 4.086A12.72 12.72 0 0 1 3.11 4.86a4.48 4.48 0 0 0 1.39 5.976 4.46 4.46 0 0 1-2.03-.56v.057a4.48 4.48 0 0 0 3.59 4.393 4.48 4.48 0 0 1-2.025.077 4.48 4.48 0 0 0 4.18 3.11A8.98 8.98 0 0 1 2 19.54a12.7 12.7 0 0 0 6.88 2.02c8.26 0 12.78-6.84 12.78-12.78 0-.195-.004-.39-.013-.583A9.18 9.18 0 0 0 24 4.59a8.93 8.93 0 0 1-2.54.697z"/></svg>
                    </a>
                    <a href="https://github.com/" target="_blank" aria-label="GitHub" class="mft-social-icon">
                        <!-- GitHub SVG -->
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.084-.729.084-.729 1.205.084 1.84 1.236 1.84 1.236 1.07 1.834 2.809 1.304 3.495.997.108-.775.418-1.305.762-1.605-2.665-.305-5.466-1.334-5.466-5.93 0-1.31.469-2.381 1.236-3.221-.124-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.301 1.23a11.52 11.52 0 0 1 3.003-.404c1.018.005 2.045.138 3.003.404 2.291-1.553 3.297-1.23 3.297-1.23.653 1.653.242 2.873.119 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.803 5.624-5.475 5.921.43.372.823 1.102.823 2.222v3.293c0 .322.218.694.825.576C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
                    </a>
                    <a href="https://linkedin.com/" target="_blank" aria-label="LinkedIn" class="mft-social-icon">
                        <!-- LinkedIn SVG -->
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.268c-.966 0-1.75-.784-1.75-1.75s.784-1.75 1.75-1.75 1.75.784 1.75 1.75-.784 1.75-1.75 1.75zm13.5 11.268h-3v-5.604c0-1.337-.025-3.063-1.868-3.063-1.868 0-2.154 1.459-2.154 2.967v5.7h-3v-10h2.881v1.367h.041c.401-.761 1.379-1.563 2.841-1.563 3.039 0 3.6 2.001 3.6 4.601v5.595z"/></svg>
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>


{% block scripts %}
{% endblock %}