<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
{% block styles %}{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title displayed in web browsers tab -->
<title>Marcus Francis TIPLER</title>


<div class="mft-full-site">
    <div class="mft-header-container">
        {% block header %}
            <div class="mft-header-contents">
                <div class="mft-header-left">
                    <img id="mft-logo" class="mft-logo" src="{{ url_for('static', filename='images/logo-inverted.png') }}" alt="MFT"/>
                </div>
                <div class="mft-header-right">
                    <a href="{{ url_for('indexPage') }}" class="mft-header-button">Home</a>
                </div>
            </div>
        {% endblock %}
    </div>
    <div class="mft-content-container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="mft-footer-container">
        {% block footer %}
        <div class="mft-footer">
            <div class="mft-footer-top">
                <div class="mft-footer-table">
                    <table>
                        <tr><th><a href="{{ url_for('indexPage') }}">Home</a></th></tr>
                        <tr><td><a href="{{ url_for('aboutPage') }}">About</a></td></tr>
                        <tr><td><a href="{{ url_for('timelinePage') }}">Timeline</a></td></tr>
                        <tr><td><a href="{{ url_for('skillsPage') }}">Skills</a></td></tr>
                        <tr><td><a href="{{ url_for('resumePage') }}">Resume</a></td></tr>
                        <tr><td><a href="{{ url_for('projectsPage') }}">Projects</a></td></tr>
                    </table>
                </div>
                <div class="mft-footer-table">
                    <table>
                        <tr><th><a href="{{ url_for('portfolioPage') }}">Portfolio</a></th></tr>
                        <tr><td><a href="{{ url_for('webPage') }}">Web</a></td></tr>
                        <tr><td><a href="{{ url_for('mobilePage') }}">Mobile</a></td></tr>
                        <tr><td><a href="{{ url_for('desktopPage') }}">Desktop</a></td></tr>
                        <tr><td><a href="{{ url_for('openSourcePage') }}">Open Source</a></td></tr>
                        <tr><td><a href="{{ url_for('personalPage') }}">Personal</a></td></tr>
                    </table>
                </div>
                <div class="mft-footer-table">
                    <table>
                        <tr><th><a href="{{ url_for('occupationPage') }}">Occupation</a></th></tr>
                        <tr><td><a href="{{ url_for('charityPage') }}">Charity</a></td></tr>
                        <tr><td><a href="{{ url_for('blogPage') }}">Blog</a></td></tr>
                        <tr><td><a href="{{ url_for('socialsPage') }}">Socials</a></td></tr>
                        <tr><td><a href="{{ url_for('certificatesPage') }}">Certificates</a></td></tr>
                        <tr><td><a href="https://runtime-labs.org">- Runtime-Labs</a></td></tr>
                    </table>
                </div>
            </div>
            <div class="mft-footer-bottom">
                <div class="mft-footer-left">
                    <h4>&copy; 2024-present Marcus Francis TIPLER. All rights reserved.</h4>
                </div>
                <div class="mft-footer-middle">
                    <div class="mft-license">
                        <span>MIT License</span>
                        <img src="{{ url_for('static', filename='images/license.png') }}" alt="MIT License" class="mft-license-img"/>
                        <p>By accessing and using this website, you acknowledge that all content, information, and materials available here are licensed under the terms of the <a href="https://github.com/Marcus-Tipler/marcus-tipler-blog/blob/main/LICENSE">MIT License 🔗</a>. All content is publicly available on <a href="https://github.com/Marcus-Tipler/marcus-tipler-blog">GitHub 🔗</a>.</p>
                    </div>
                </div>
                <div class="mft-footer-right">
                    {% for social in menu %}
                        <a href="{{ social.profile_url }}" target="_blank" aria-label="{{ social.platform }}" class="mft-social-icon">
                            <!-- Twitter SVG -->
                            <img src="{{ url_for('static', filename='vectors/' + social.svg + '.svg') }}" alt="{{ social.platform }} icon" width="24" height="24"/>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>


{% block scripts %}
{% endblock %}